body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/bg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  }
  .container {
    width: 80%;
    max-width: 600px;
    background: linear-gradient(
      to bottom right,
      rgba(255, 105, 180, 0.8),
      rgba(75, 0, 130, 0.8)
    );
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Enhanced shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
  }
  
  
  
  h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
  label {
    display: block;
    margin-top: 15px;
  }
  
  select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    width:200px;
    border-radius:30px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .recommendationText-container {
    background-color:rgba(46, 39, 39, 0.73);
    padding:5px;
    border-radius: 15px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Enhanced shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border for definition */
  }
  
  #images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
  }
  
  #images img {
    width: 100%; /* Image will adapt to grid cell */
    aspect-ratio: 1; /* Makes images square */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    object-fit: center; /* Ensures images don't stretch */
  }